<a href="https://colab.research.google.com/github/LarracasJerry/CPE009A/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
x = 1
a, b, c = 0, 1, 2

b = "sally" #This is a type of string
b = int(4)
print (b)

b = float(4)
print(b)

4
4.0

Type() function

In [28]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double quotes" or 'Single' quotes

In [32]:
y = "John"
y = 'John'
print (y)

John

Case sensitive

In [34]:
a = 4
A = "Sally"
#A will not overwrite a
print(a, A)

4 Sally

Multiple Variables

In [35]:
x, y, z = "one","two","three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [36]:
x=y=z= "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [46]:
x = "enjoying"
print("Python programming is "+x)

Python programming is enjoying

In [47]:
x = "Python is "
y = "enjoying"
z = x + y
print (z)

Python is enjoying

Arithmetic Operations

In [48]:
10 // 3

3

In [86]:
x = 5
y = 3

print (x+y)
x = 5
y = 3

print (x/y)
x = 5
y = 3

print (x*y)
x = 5
y = 3

print (x-y)
x = 5
y = 3

print (x%y)
x = 5
y = 3

print (x**y)
x = 5
y = 3

print (x//y)
x = 5
y = 3

x = 5
y = 3
sum = x + y
sum

x = 5
y = 3
division = x / y
division

x = 5
y = 3
multiply = x * y
multiply

x = 5
y = 3
subtract = x - y
subtract

x = 5
y = 3
Modulus = x % y
Modulus

x = 5
y = 3
Exponent = x ** y
Exponent

x = 5
y = 3
FloorDivision = x // y
FloorDivision

8
1.6666666666666667
15
2
2
125
1

1

Assignment Operators

In [91]:
x = 1
x += 3
print(x)

x = 1
x -= 3
print(x)

x = 1
x *= 3
print(x)

x = 1
x /= 1
print(x)

x = 1
x %= 12
print(x)

x = 1
x //= 1
print(x)

x = 1
x **= 3
print(x)

x = 1
x |= 3
print(x)

x = 1
x >>= 3
print(x)

x = 1
x **= 3
print(x)

4
-2
3
1.0
1
1
1
3
0
1

Comparizon Operators

In [88]:
t, u = 1, 2

print(x == y)
print(x != y)
print(x >= y)
print(x <= y)
print(x >= y)
print(x <=y )

False
True
True
False
True
False

Logical Operators

In [94]:
x < 5 and x < 10

True

In [95]:
x < 5 or x < 10

True

In [96]:
not(x < 5 and x < 10)

False

Identity Operators

In [100]:
x is y

False

In [98]:
x is not y

True

Bitwise Operators

In [105]:
v = 2
v << 2

8

In [108]:
v = 2
v  & 1

0

In [111]:
v = 2
v | 1

3

In [112]:
v = 2
v ^ 1

3

In [115]:
v = 2
~v

-3

In [110]:
v = 2
v >> 1

1